.card {
  padding: 20px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
}

.name {
  margin: 10px 0 20px;
  font-size: 26px;
}

.text {
  margin: 0;
}

.submitWrapper {
  display: flex;
  justify-content: flex-end;
}
