.tasksContent {
  margin: 20px 20px 0;
  display: grid;
  grid-template-columns: 60% 40%;
}

.tasksList {
  margin-right: 20px;
}

.filters {
  margin-bottom: 20px;
}

.taskCard {
  margin-bottom: 20px;
}

.taskCard:last-child {
  margin-bottom: 0;
}

.spinWrapper {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
